{#
    UI Element template
    type: double_image
    element fields :
        first_image
        first_alt
        first_title
        first_link
        second_image
        second_alt
        second_title
        second_link
#}
<div class="ui stackable two column grid">
    {% if element.first_image is defined %}
        <div class="column">
            {% if element.first_link is not empty %}
                <a href="{{ element.first_link }}">
                    <img class="ui fluid image" src="{{ element.first_image }}" alt="{{ element.first_alt|default('') }}" title="{{ element.first_title|default('') }}" />
                </a>
            {% else %}
                <img class="ui fluid image" src="{{ element.first_image }}" alt="{{ element.first_alt|default('') }}" title="{{ element.first_title|default('') }}" />
            {% endif %}
        </div>
    {% endif %}
    {% if element.second_image is defined %}
        <div class="column">
            {% if element.second_link is not empty %}
                <a href="{{ element.second_link }}">
                    <img class="ui fluid image" src="{{ element.second_image }}" alt="{{ element.second_alt|default('') }}" title="{{ element.second_title|default('') }}" />
                </a>
            {% else %}
                <img class="ui fluid image" src="{{ element.second_image }}" alt="{{ element.second_alt|default('') }}" title="{{ element.second_title|default('') }}" />
            {% endif %}
        </div>
    {% endif %}
</div>
