{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

<h1>{{ uiElement.title }}</h1>

<p>{{ uiElement.description }}</p>


{% if uiElement.type == 'image' and data.image is defined and data.image is not empty %}
    {# @TODO Make a form render for file type and display image before field #}
    <p>{{ 'monsieurbiz_cmsplugin.ui_element.image.field.current_image' | trans }}</p>
    <p>
        <img src="{{ data.image }}" alt="{{ data.alt | default('') }}" title="{{ data.title | default('') }}" />
    </p>
{% endif %}

<p>
    {{ form(form) }}
</p>
