{#
    UI Element template
    type: image
    element fields :
        image
        alt
        title
#}
{% if element.image is defined %}
<p>
    {% if element.link is defined %}
        <a href="{{ element.link }}">
            <img src="{{ element.image }}" alt="{{ element.alt|default('') }}" title="{{ element.title|default('') }}" />
        </a>
    {% else %}
        <img src="{{ element.image }}" alt="{{ element.alt|default('') }}" title="{{ element.title|default('') }}" />
    {% endif %}
</p>
{% endif %}
