<script src="{{ asset('bundles/monsieurbizsyliusricheditorplugin/js/rich-editor.js') }}"></script>
<link rel="stylesheet" href="{{ asset('bundles/monsieurbizsyliusricheditorplugin/css/rich-editor.css') }}">

<div id="monsieurbiz-rich-editor-confirmation-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="warning sign icon"></i>
                    {{ 'sylius.ui.confirm_your_action'|trans }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ 'sylius.ui.are_your_sure_you_want_to_perform_this_action'|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{ ux_icon('material-symbols:remove-rounded', {class: 'icon'}) }}
                    {{ 'sylius.ui.no_label'|trans }}
                </button>
                <button type="button" id="monsieurbiz-rich-editor-confirmation-button" data-bs-dismiss="modal" class="btn btn-primary">
                    {{ ux_icon('fluent:checkmark-12-regular', {class: 'icon'}) }}
                    {{ 'sylius.ui.yes_label'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>

<script id="monsieurbiz-rich-editor-actions" type="x-tmpl-mustache">
{% verbatim %}
    <div class="col-12">
        <div class="d-flex align-items-center my-4">
            <hr class="flex-grow-1">
            <div class="btn-group" role="group">
                <a data-position="{{position}}" class="item js-uie-add btn" type="button">
                    {% endverbatim %}
                        {{ ux_icon('fa-solid:plus-square', {class: 'icon w-3 h-3'}) }}
                        {{ "monsieurbiz_richeditor_plugin.form.add"|trans }}
                    {% verbatim %}
                </a>
                <div class="vr"></div>
                <a data-position="{{position}}" class="item js-uie-paste btn" type="button">
                    {% endverbatim %}
                        {{ ux_icon('fa-solid:paste', {class: 'icon w-3 h-3'}) }}
                        {{ "monsieurbiz_richeditor_plugin.form.paste_from_clipboard"|trans }}
                    {% verbatim %}
                </a>
            </div>
            <hr class="flex-grow-1">
        </div>
    </div>
{% endverbatim %}
</script>

<script id="monsieurbiz-rich-editor-ui-element" type="x-tmpl-mustache">
{% verbatim %}
    <div class="col-12 js-uie-element">
        <div class="ui segment border border-1 border-lightblack rounded-2 p-3">
            <div
                class="d-flex justify-content-between align-items-center">
                <h3 class="header m-0 h2">
                    <i class="{{icon}} icon"></i>
                    {{title}}
                    {{#disabled}}<span class="ui label">{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.ui.disabled'|trans }}{% verbatim %}</span>{{/disabled}}
                </h3>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button class="ui btn btn-outline-secondary js-uie-delete p-2" type="button" data-tooltip="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.delete'|trans }}{% verbatim %}">
                        {% endverbatim %}
                                {{ ux_icon('iconamoon:trash', {class: 'm-0 w-3 h-3'}) }}
                        {%  verbatim %}
                    </button>
                    <button class="ui btn btn-outline-secondary js-uie-edit p-2" type="button" data-tooltip="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.edit'|trans }}{% verbatim %}">
                        {% endverbatim %}
                                {{ ux_icon('fa-solid:pencil-alt', {class: 'm-0 w-3 h-3'}) }}
                        {%  verbatim %}
                    </button>
                    <button class="ui btn btn-outline-secondary js-uie-up p-2" type="button" data-tooltip="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.move_up'|trans }}{% verbatim %}">
                        {% endverbatim %}
                                {{ ux_icon('tabler:arrow-up', {class: 'm-0 w-3 h-3'}) }}
                        {%  verbatim %}
                    </button>
                    <button class="ui btn btn-outline-secondary js-uie-down p-2" type="button" data-tooltip="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.move_down'|trans }}{% verbatim %}">
                        {% endverbatim %}
                                {{ ux_icon('tabler:arrow-down', {class: 'm-0 w-3 h-3'}) }}
                        {%  verbatim %}
                    </button>
                    <button class="ui btn btn-outline-secondary js-uie-copy p-2" type="button" data-alternate-text="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.copied'|trans }}{% verbatim %}" data-tooltip="{% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.copy'|trans }}{% verbatim %}">
                        {% endverbatim %}
                                {{ ux_icon('fa-solid:copy', {class: 'm-0 w-3 h-3'}) }}
                        {%  verbatim %}
                    </button>
                </div>
            </div>
            <div class="ui fluid js-uie-preview mt-3">{{{preview}}}</div>
        </div>
    </div>
{% endverbatim %}
</script>

<script id="monsieurbiz-rich-editor-ui-elements-container" type="x-tmpl-mustache">
    <div class="ui border border-1 border-lightblack rounded-2">
        <div class="row">
            <div class="col-12 px-5 pt-5 pb-3">
                <div class="d-flex justify-content-end">
                    <div class="btn-group" role="group">
                        <button class="ui btn btn-outline-secondary p-2 js-uie-tools-copy-all" type="button" data-alternate-text="{{ 'monsieurbiz_richeditor_plugin.form.copied'|trans }}" data-tooltip="{{ "monsieurbiz_richeditor_plugin.form.copy_all_from_clipboard"|trans }}">
                            {{ ux_icon('fa-solid:copy', {class: 'm-0 w-3 h-3'}) }}
                        </button>
                        <button class="ui btn btn-outline-secondary p-2 js-uie-tools-paste-all" type="button" disabled data-tooltip="{{ "monsieurbiz_richeditor_plugin.form.paste_all_from_clipboard"|trans }}">
                            {{ ux_icon('fa-solid:paste', {class: 'm-0 w-3 h-3'}) }}
                        </button>
                         <button class="ui btn btn-outline-secondary p-2 js-uie-tools-trash-all" type="button" data-tooltip="{{ "monsieurbiz_richeditor_plugin.form.trash_all"|trans }}">
                            {{ ux_icon('iconamoon:trash', {class: 'm-0 w-3 h-3'}) }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 px-5 pb-5">
                <div class="ui segment js-uie-container row g-3">
                </div>
            </div>
        </div>
    </div>
</script>

<script id="monsieurbiz-rich-editor-ui-element-card" type="x-tmpl-mustache">
{% verbatim %}
<div class="col">
    <div class="ui link card uie-card js-uie-new p-3 h-100">
        <div class="content left aligned d-flex flex-column h-100">
            <div class="header h3 mb-1">
                <div>
                    <i class="{{icon}} icon"></i>
                    {{title}}
                </div>
                {{#description}}
                    <div
                        class="d-inline-flex align-items-center justify-content-center border p-1 rounded-2"
                        data-tooltip="{{description}}">
                    {% endverbatim %}
                        {{ ux_icon('tabler:question-mark') }}
                    {% verbatim %}
                    </div>
                {{/description}}
            </div>
            {{#wireframe}}
                <div class="wireframe flex-grow-1 d-flex align-items-end">
                    {{& wireframeHtml }}
                </div>
            {{/wireframe}}
        </div>
        <div class="content d-flex justify-content-end mt-3 gap-2">
            {{#tags}}
            <span class="badge badge-outline">{{.}}</span>
            {{/tags}}
        </div>
    </div>
</div>
{% endverbatim %}
</script>

<script id="monsieurbiz-rich-editor-panels" type="x-tmpl-mustache">
{% verbatim %}
<div class="uie-panels js-uie-panels-{{uid}}">
    <div class="uie-panels__content js-uie-panels-selector-{{uid}}">
        <div class="uie-flex uie-flex-main-between uie-w-full uie-mb-md">
            <h2 class="ui header uie-heading uie-m-0" id="uie-heading-{{uid}}">
                {% endverbatim %}{{ 'monsieurbiz_richeditor_plugin.form.select_ui_element'|trans }}{% verbatim %}
            </h2>
            <div class="uie-ml-md">
                <button class="ui btn btn-outline-primary js-uie-panels-close-{{uid}}" type="button">
                    {% endverbatim %}
                        {{ ux_icon('line-md:close') }}
                        {{ 'monsieurbiz_richeditor_plugin.form.close'|trans }}
                    {% verbatim %}
                </button>
            </div>
        </div>
        <div class="ui cards uie-cards js-uie-cards-container row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
        </div>

        <div class="uie-panels__new js-uie-panels-new-{{uid}}">
        </div>
    </div>
</div>
{% endverbatim %}
</script>

<script id="monsieurbiz-rich-editor-panels-edit" type="x-tmpl-mustache">
{% verbatim %}
<div class="uie-panels js-uie-panels-edit-{{uid}}">
    <div class="uie-panels__content js-uie-content">
    </div>
</div>
{% endverbatim %}
</script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {

        let editors = document.querySelectorAll('[data-component="rich-editor"]');
        let uielements = {{ monsieurbiz_richeditor_list_elements() }};
        let fallBackLocale = '{{ app.request.locale | default(app.request.defaultLocale) | default(sylius_base_locale) | escape('js') }}';

        function setupRichEditor(editor, tags, locale) {
            let config = new MonsieurBizRichEditorConfig(
                editor,
                uielements,
                document.getElementById('monsieurbiz-rich-editor-ui-elements-container').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-actions').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-ui-element').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-ui-element-card').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-panels').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-panels-edit').innerHTML,
                '{{ "monsieurbiz_richeditor_plugin.form.confirm_delete" |trans|e('js') }}',
                '{{ url("monsieurbiz_richeditor_admin_form_create", {"code": "__CODE__"})|e('js') }}',
                '{{ url("monsieurbiz_richeditor_admin_form_edit", {"code": "__CODE__"})|e('js') }}',
                '{{ url("monsieurbiz_richeditor_admin_form_render_elements")|e('js') }}',
                '{{ monsieurbiz_richeditor_get_default_element() }}',
                '{{ monsieurbiz_richeditor_get_default_element_data_field() }}',
                '{{ 'monsieurbiz_richeditor_plugin.error.ajax_error'|trans|e('js') }}',
                '{{ 'monsieurbiz_richeditor_plugin.error.unallowed_uielement'|trans|e('js') }}'
            );
            editor.manager = new MonsieurBizRichEditorManager(config, tags, locale);
        }

        editors.forEach(function (editor) {
            let tags = editor.dataset.tags.length === 0 ? [] : editor.dataset.tags.split(',')
            let locale = editor.dataset.locale ? editor.dataset.locale : fallBackLocale;
            setupRichEditor(editor, tags, locale);
        });

        // This event authorized external JS script to activate Rich Editor on a RichEditor input.
        // It's usefull in case of AJAX loaded input or in case of dynmamic DOM addition.
        document.addEventListener('mbiz:rich-editor:add-editor', (e) => {
            const {editor} = e.detail;
            if (editor === null || editor.dataset.component === undefined || editor.dataset.component !== 'rich-editor') {
                return;
            }
            let tags = editor.dataset.tags.length === 0 ? [] : editor.dataset.tags.split(',')
            let locale = editor.dataset.locale ? editor.dataset.locale : fallBackLocale;
            setupRichEditor(editor, tags, locale);
        });

        // @TODO - Check to manage this functional with new system
        //
        // JQuery event triggered by @SyliusUiBundle/Resources/private/js/sylius-form-collection.js
        // $(document).on('collection-form-add', (event, addedElement) => {
        //     document.dispatchEvent(new CustomEvent('rich-editor:reload', {
        //         detail: {
        //             target: addedElement[0],
        //         }
        //     }));
        // });

        document.addEventListener('monsieurBizRichEditorInitForm', (e) => {
            // Init dynamic editors
            let editors = document.querySelectorAll('[data-component="rich-editor"]:not([data-rich-editor-uid])');
            let manager = e.detail.manager;
            editors.forEach(function (editor) {
                setupRichEditor(editor, manager.tags, manager.locale); // Retrieve tags and locale from the parent manager
            });

            let form = e.detail.form;

            // @TODO - Check to manage this functional with new system
            //
            // $(form).find('[data-form-type="collection"]').CollectionForm();
            // $(form).find('.sylius-autocomplete').autoComplete();
        });
    });

    function monsieurBizRichEditorRemoveFile(inputName) {
        let input = document.querySelector('input[name="' + inputName + '"]');
        let fileInput = document.querySelector('input[name="change_' + inputName + '"]');
        input.parentElement.remove();
        fileInput.style.display = 'inline';
        fileInput.name = inputName;
    }
</script>
