{% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/monsieurbizsyliusricheditorplugin/js/rich-editor-js.js'} %}
{% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'bundles/monsieurbizsyliusricheditorplugin/css/rich-editor-css.css'} %}

<script id="monsieurbiz-rich-editor-button-add" type="x-tmpl-mustache">
{% verbatim %}
<div class="ui horizontal divider">
    <button data-position="{{position}}" class="tiny ui basic button uie-m-n js-uie-add" type="button">
        <i class="plus square icon"></i>
        Add element
    </button>
</div>
{% endverbatim %}
</script>

<script id="monsieurbiz-rich-editor-ui-element" type="x-tmpl-mustache">
{% verbatim %}
    <div class="ui segment js-uie-element">
        <div
            class="uie-flex uie-flex-cross-center uie-flex-main-between uie-w-full uie-mb-sm sm:uie-flex-column">
            <h3 class="header uie-m-n">
                <i class="file alternate outline icon"></i>
                {{title}}
            </h3>
            <div class="ui small basic icon buttons sm:uie-mt-xs">
                <button class="ui button js-uie-delete" type="button">
                    <i class="trash alternate outline icon"></i>
                </button>
                <button class="ui button js-uie-edit" type="button">
                    <i class="pencil alternate icon"></i>
                </button>
                <button class="ui button js-uie-up" type="button">
                    <i class="arrow up icon"></i>
                </button>
                <button class="ui button js-uie-down" type="button">
                    <i class="arrow down icon"></i>
                </button>
            </div>
        </div>
        <div class="ui fluid js-uie-preview">
        </div>
    </div>
{% endverbatim %}
</script>

<script id="monsieurbiz-rich-editor-ui-elements-container" type="x-tmpl-mustache">
{% verbatim %}
    <div class="ui container">
        <div class="ui segment js-uie-container">
        </div>
    </div>
{% endverbatim %}
</script>

<script id="monsieurbiz-rich-editor-ui-element-card" type="x-tmpl-mustache">
{% verbatim %}
<button class="card uie-card js-uie-new" type="button">
    <div class="content">
        <h3 class="header">
            <i class="{{icon}} icon"></i>
            {{title}}
        </h3>
    </div>
</button>
{% endverbatim %}
</script>

<div class="uie-panels js-uie-panels">
    <div class="uie-panels__content js-uie-panels-selector">
        <h2 class="ui header uie-heading uie-mb-md" id="uie-heading">{{ "Select an UI Element"|trans }}</h2>

        <div class="ui cards uie-cards js-uie-cards-container">
        </div>

        <div class="uie-panels__new js-uie-panels-new">
            PANEL HERE
        </div>
    </div>
</div>

<div class="uie-panels js-uie-panels-edit">
    <div class="uie-panels__content">
        PANEL HERE
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        let editors = document.querySelectorAll('[data-component="rich-editor"]');
        let uielements = {
            "monsieurbiz.text":{
                "code":"monsieurbiz.text",
                "description":"Description simple",
                "icon":"font",
                "title":"Texte simple"
            },
            "monsieurbiz.text2":{
                "code":"monsieurbiz.text2",
                "description":"Description simple 2",
                "icon":"font",
                "title":"Texte simple 2"
            }
        };
        editors.forEach(function (editor) {
            let config = new MonsieurBizRichEditorConfig(
                editor,
                uielements,
                document.getElementById('monsieurbiz-rich-editor-ui-elements-container').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-button-add').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-ui-element').innerHTML,
                document.getElementById('monsieurbiz-rich-editor-ui-element-card').innerHTML,
                '{{ "sure?"|trans|e('js') }}',
                '{{ url("monsieurbiz_richeditor_admin_form_create", {"code": "__CODE__"})|e('js') }}',
                '{{ url("monsieurbiz_richeditor_admin_form_edit", {"code": "__CODE__"})|e('js') }}'
            );
            editor.manager = new MonsieurBizRichEditorManager(config, editor);
        });
    });

    function monsieurBizRichEditorRemoveFile(inputName) {
        let input = document.querySelector('input[name="' + inputName + '"]');
        let fileInput = document.querySelector('input[name="change_' + inputName + '"]');
        console.log(input);
        console.log(fileInput);
        input.parentElement.remove();
        fileInput.style.display = 'inline';
        fileInput.name = inputName;
    }

    // JQuery dependency to init autocomplete with Sylius
    function monsieurBizRichInitAutoComplete() {
        let autocompleteSelector = $(monsieurbizRichEditorPluginConfig.autoCompleteSelector);
        if (autocompleteSelector.length > 0) {
            autocompleteSelector.autoComplete();
        }
    }
</script>
