{% form_theme form '@MonsieurBizSyliusRichEditorPlugin/Form/theme.html.twig' %}

<div class="row">
    <div class="col-12 content">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="ui header">
                    <i class="{{ uiElement.icon | escape('html_attr') }} circular icon"></i>
                    <div class="content h2">
                        {% if isEdition %}
                            {{ 'monsieurbiz_richeditor_plugin.form.edit_element' | trans({'%uiElementTitle%': uiElement.title | trans}) }}
                        {% else %}
                            {{ 'monsieurbiz_richeditor_plugin.form.add_element' | trans({'%uiElementTitle%': uiElement.title | trans}) }}
                        {% endif %}
                        <div class="sub header h4">{{ uiElement.description | trans }}</div>
                    </div>
                </h2>
            </div>
            <div class="col-12 col-md-6 ms-auto">
                <div class="ui d-flex justify-content-end">
                    <div class="d-flex align-items-center gap-2">
                        <button class="ui btn js-uie-cancel" type="button">
                            {{ ux_icon('fa-solid:ban', {class: 'icon w-3 h-3'}) }}
                            {{ 'monsieurbiz_richeditor_plugin.form.cancel' | trans }}
                        </button>
                        <button class="ui btn btn-primary js-uie-save" type="button">
                            {{ ux_icon('fa-solid:save', {class: 'icon w-3 h-3'}) }}
                            {{ 'monsieurbiz_richeditor_plugin.form.save' | trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uie-panels__inner ui segment form">
        {% set locale = form.vars.attr['data-locale']|default(sylius.localeCode) %}
        <twig:SyliusAdmin:MonsieurBizUiElement:Form :data="data" :uiElement="uiElement" :isEdition="isEdition" :locale="locale" />
    </div>
</div>
