{#
    UI Element template
    type: image_collection
    element fields :
        images
            image
            alt
            title
            link
            link_type
#}
{% set imageCount = element.images|length %}
{% set gridClasses = '' %}

{% if imageCount >= 5 %}
    {% set gridClasses = 'five column' %}
{% elseif imageCount == 4 %}
    {% set gridClasses = 'four column' %}
{% elseif imageCount == 3 %}
    {% set gridClasses = 'three column' %}
{% elseif imageCount == 2 %}
    {% set gridClasses = 'two column' %}
{% else %}
    {% set gridClasses = 'one column' %}
{% endif %}

<div class="ui {{ gridClasses }} grid my-7.5 w-full">
    {% for image in element.images %}
        <div class="col">
            {% if image.link is not empty %}
                {% set linkIsBlank = image.link_type is defined and image.link_type == constant('MonsieurBiz\\SyliusRichEditorPlugin\\Form\\Type\\LinkTypeType::TYPE_EXTERNAL') %}
                <a class="ui fluid image" href="{{ image.link }}"{% if linkIsBlank %} target="_blank" rel="noopener noreferrer"{% endif %}>
                    <img class="ui rounded image" src="{{ monsieurbiz_richeditor_get_media_without_upload_dir(image.image)|imagine_filter('monsieurbiz_rich_editor_image') }}" alt="{{ image.alt|default('') }}" title="{{ image.title|default('') }}" />
                </a>
            {% else %}
                <img class="ui fluid rounded image" src="{{ monsieurbiz_richeditor_get_media_without_upload_dir(image.image)|imagine_filter('monsieurbiz_rich_editor_image') }}" alt="{{ image.alt|default('') }}" title="{{ image.title|default('') }}" />
            {% endif %}
        </div>
    {% endfor %}
</div>
